{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- else -%}
{%- if page.created_date and page.created_date != '' -%}Content created: {{ page.created_date | date: "%B %d, %Y" }}{%- endif -%}{%- if page.created_date and page.created_date != '' and page.last_modified_date and page.last_modified_date != '' -%}&nbsp;&nbsp;|&nbsp;&nbsp;{%- endif -%}{%- if page.last_modified_date and page.last_modified_date != '' -%}Last updated: {{ page.last_modified_date | date: "%B %d, %Y" }}{%- endif -%}
{%- if page.staff_name or page.student_staff_name -%}
  <p class="text-small text-grey-dk-100 mb-0">
    Tutorial created by&nbsp;
    {%- if page.staff_name -%}
      {%- if page.staff_link -%}
        <a href="{{ page.staff_link }}">{{ page.staff_name }}</a>
      {%- else -%}
        {{ page.staff_name }}.
      {%- endif -%}
    {%- endif -%}
    {%- if page.student_staff_name -%}
      &nbsp;With contributions by&nbsp;
      {%- if page.student_staff_link -%}
        <a href="{{ page.student_staff_link }}">{{ page.student_staff_name }}</a>
      {%- else -%}
        {{ page.student_staff_name }}
      {%- endif -%}
    {%- endif -%}
    .
  </p>
{%- endif -%}
{%- if site.license_name and site.license_url and site.license_image_url -%}
<br><a target="_blank" rel="noopener noreferrer" href="{{ site.license_url }}"><img src="{{ site.license_image_url }}" alt="{{ site.license_name }} icon" style="height:2em;"></a>
{%- else -%}
  <br><a target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-sa.svg" alt="Creative Commons Attribution-ShareAlike 4.0 International icon" style="height:2em;"></a>
  {%- endif -%}
{%- if site.workshop_series_name and site.workshop_series_name != '' -%}
  <p class="text-small text-grey-dk-100 mb-0"> This workshop is part of the {{ site.workshop_series_name }}</p>
{%- endif -%}
{%- endif -%}